* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: gold;
}

.logo {max-width: 5rem;} 

.lista {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    
}

.lista li a {
    text-decoration: none;
    color: rgb(16, 15, 15);
}

.abrir-menu {
    display: none;
} 

.cerrar-menu {display: none;}

.titulo {
    background-position: center;
    margin-left: 500px;
    margin-top: 10px;
}

.titulo h1 {
    text-align: center;
    margin-right: 500px;
    margin-top: 50px;
    background-color: brown;
    padding-bottom: 50px;
}

.cuerpo {
    background-image: url(./assets/img/fondocomics.png);
}

.spiderman {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 5px 5px 5px 5px;
    padding-left: 600px;
    justify-content: center;
}
.abrir-menu, .cerrar-menu {display: none;}

@media screen and (max-width: 768px) {
   
.abrir-menu, .cerrar-menu {display: block;
    border: 0;
font-size: 1.2rem;
background-color: transparent;
cursor: pointer;}
    
.nav{opacity: 0;
    visibility: hidden;}
    
    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    position: absolute;
top: 0; right: 0;
bottom: 0;
background-color: brown;
padding: 2rem;}

.nav.visible {opacity: 1;
    visibility: visible;
}

    .lista {flex-direction: column;
        align-items: end;
    }
}